main {
    float: left;
    width: 80%;
}

aside {
    width: 20%;
    float: left;
    height: 100%;
    background-color: #b7b787;
}

.pixeli {
    float: left;
    height: 170px;
    margin-right: 20px;
}
h1 {
    margin-bottom: 10px;
    color: darkolivegreen;
}

h2 {
    font-weight: 800;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 10px;
    color: white;
    background-color: darkolivegreen;
    font-size: 18px;
    border-collapse: collapse;
    padding: 10px;
}
.citation {
    font-size: 16px;
    font-weight: 250;
    margin-right: 20px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: solid 2px darkolivegreen;
    background-color: white;
    color: black;
}

th {
    background-color: darkolivegreen;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

td {
    padding: 10px;
    text-align: center;
}

.anecdote {
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
    border-collapse: collapse;
    border: solid;
    border-color: black;
    background-color: white;
    color: black;
}

footer {
    text-align: center;
}